data_factory_id = "/subscriptions/<sub-id>/resourceGroups/<rg>/providers/Microsoft.DataFactory/factories/<factory>"
sql_linked_service_name = "lsqldb-spotify-dev"
adls_linked_service_name = "lsadls-spotify"
pipeline_name = "incremental_ingestion_arm"
cdc_dataset_name = "ds_spotify_cdc_json_arm"
sql_dataset_name = "ds_spotify_sql_source_arm"
sink_dataset_name = "ds_spotify_bronze_parquet_arm"
lookup_container = "bronze"
lookup_folder = "@{item().table}_cdc"
lookup_file = "cdc.json"
sink_container = "bronze"
sink_folder = "@item().table"
sink_file = "@concat(item().table,'_',variables('current'))"
