databricks_host              = "https://adb-<workspace-id>.<region>.azuredatabricks.net"
databricks_account_id        = "<databricks-account-id>"
databricks_client_id         = "<databricks-oauth-client-id>"
databricks_client_secret     = "<databricks-oauth-client-secret>"
databricks_workspace_resource_id = "/subscriptions/<sub-id>/resourceGroups/<rg>/providers/Microsoft.Databricks/workspaces/<name>"
access_connector_id          = "/subscriptions/<sub-id>/resourceGroups/<rg>/providers/Microsoft.Databricks/accessConnectors/<name>"
storage_account_name         = "<storage-account-name>"
catalog_name                 = "spotify"
schema_name                  = "silver"
gold_schema_name             = "gold"
catalog_storage_root         = "abfss://silver@<storage-account-name>.dfs.core.windows.net/"
storage_credential_name      = "sc-spotify-mi"
bronze_location_name         = "bronze"
silver_location_name         = "silver"
gold_location_name           = "gold"
